.filtersContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  border-radius: 20px;
  padding: 24px;
  max-width: 100%;
  height: 840px;
  background: var(--inputs);
  margin: 48px 0;
}

.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.itemTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}

.location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 10px 20px;
  width: 312px;
  height: 56px;
  background: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none;
}

.location {
  width: 100%;
  padding-left: 40px;
  height: 48px;
}

.filters {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.filterGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 312px;
  height: 56px;
  background: var(--grey-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.searchBtn:hover {
  background: var(--green-hover);
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 312px;
  height: 56px;
  background: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
}

.clearBtn:hover {
  border: 1px solid var(--green-hover);
}

@media (min-width: 768px) {
  .filtersContainer {
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .filtersContainer {
    align-items: flex-start;
  }
  .filtersContainer {
    width: 360px;
  }
}
