.hero {
  position: relative;
  min-height: calc(100vh - 72px);
  width: 100%;
  background-image: image-set(
    url("/images/hero.jpg") 1x,
    url("/images/hero@2x.jpg") 2x
  );
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  padding: 0 63px;
  width: 100%;
  gap: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.mainBut {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: var(--grey-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
}

.mainBut:hover {
  background: var(--green-hover);
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 15px;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .hero {
    justify-content: flex-start;
    text-align: left;
  }

  .container {
    align-items: flex-start;
    max-width: 768px;
    padding: 0 64px;
  }

  .content {
    align-items: flex-start;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
